:root {
    --yellow: rgba(255, 179, 0, 0.5);
    --brown: rgb(126, 61, 0, 0.5);
}
@font-face {
    font-family: 'Kenia';
    src:url('./Kenia-Regular.ttf') format('ttf');
    font-weight:600;
    font-style:normal;
}
html {
    height:100vh;
}
#content {
    height: 100%;
}
.homepage{
    height:100vh;
}

body, * {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Kenia';
}
.homepage {
    display:grid;
    grid-template-rows:1fr 4fr 1fr;
}
.header {
    padding:.75em;
    background-color: var(--yellow);
    display:grid;
    width:100%; 
    justify-items:space-around;
    grid-auto-flow:column;

}
.title {
    justify-self:flex-start;
    font-size:max(2.5rem, 2.5vw);
}
.normalHeading {
    margin-top:2.5%;
    font-size:max(2rem, 2vw);
}

.main {
    height:85vh;
    padding:1.5em min(20%, 9rem);
    background: linear-gradient(to bottom, var(--yellow), var(--brown));
}
.containerOne, .containerTwo {
    height:50%;
}
.containerOne {
    display:flex;
}
.imageOne, .imageTwo {
    width:clamp(30%, 300px, 45%);
    height:100%;
}
.imageOne {
    float:right;
    margin-top:min(150px, 17%);
}
.message {
    margin-top:min(65px, -7%);
    font-size:max(1.5rem, 2vw);
    text-align:center;
    width:70%;
    align-self:center;
}
.footer {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    background: var(--brown);
}
.footerText {
    font-size: 1.65rem;
}